html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  background-color: #f9f0ff;
  position: relative;
  font-family: "Work Sans", sans-serif; }

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.hidden {
  display: none; }

.heading-primary {
  font-size: 5.5rem;
  font-weight: 700;
  display: inline-block; }

.heading-secondary {
  font-size: 1.6rem;
  font-weight: 700; }
  .heading-secondary:hover {
    color: #ae3ec9;
    cursor: pointer; }

.paragraph {
  font-size: 1.6rem;
  font-weight: 400;
  color: #878f97; }

header {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 35%;
  background-image: url("../images/background-pattern-desktop.svg"); }

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.accordion {
  background-color: white;
  width: 40%;
  padding: 4rem;
  padding-bottom: 2rem;
  z-index: 999;
  border-radius: 15px;
  box-shadow: 0 1.5rem 4rem rgba(135, 143, 151, 0.2); }
  .accordion-title {
    display: flex;
    align-items: center;
    gap: 2.5rem; }
  .accordion__section {
    padding: 1rem 0; }
    .accordion__section:not(:last-child) {
      border-bottom: 1px solid #eaedf0; }

.section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 0; }

.logo {
  display: inline-block; }

.icon-plus:hover {
  cursor: pointer; }

.icon-minus:hover {
  cursor: pointer; }
