html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

*:focus {
  outline: none; }
  *:focus-visible {
    outline: 3px solid #ae40c9; }

body {
  background-color: #f9f0ff;
  position: relative;
  font-family: "Work Sans", sans-serif; }

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.hidden {
  display: none; }

.heading-primary {
  font-size: 5.5rem;
  font-weight: 700;
  display: inline-block; }
  @media screen and (max-width: 670px) {
    .heading-primary {
      font-size: 4rem; } }

a {
  text-decoration: none; }
  a:link, a:hover, a:visited {
    color: black; }

.heading-secondary {
  font-size: 1.6rem;
  font-weight: 700; }
  @media screen and (max-width: 670px) {
    .heading-secondary {
      font-size: 1.8rem; } }
  .heading-secondary:hover {
    color: #ae40c9;
    cursor: pointer; }

.paragraph {
  font-size: 1.5rem;
  font-weight: 400;
  color: #878f97; }

header {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 35%;
  background-image: url("../images/background-pattern-desktop.svg"); }

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.accordion {
  background-color: white;
  width: 40%;
  padding: 4rem;
  padding-bottom: 2rem;
  z-index: 999;
  border-radius: 10px;
  box-shadow: 0 1.5rem 4rem rgba(135, 143, 151, 0.2); }
  @media screen and (max-width: 1320px) {
    .accordion {
      min-width: 60%; } }
  @media screen and (max-width: 890px) {
    .accordion {
      min-width: 80%; } }
  @media screen and (max-width: 670px) {
    .accordion {
      min-width: 90%;
      padding: 2rem; } }
  .accordion-title {
    display: flex;
    align-items: center;
    gap: 2.5rem; }
  .accordion__section {
    padding: 1rem 0; }
    .accordion__section:not(:last-child) {
      border-bottom: 1px solid #eaedf0; }

.section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 1.6rem 0; }

.logo {
  display: inline-block; }
  @media screen and (max-width: 670px) {
    .logo {
      width: 3rem; } }

.icon-plus:hover, .icon-plus:focus {
  cursor: pointer;
  opacity: 0.5; }

.icon-minus:hover, .icon-minus:focus {
  cursor: pointer;
  opacity: 0.5; }
