//Colors

$color-white: hsl(0, 0%, 100%);
$color-primary-light: hsl(275, 100%, 97%);
$color-primary-medium: hsl(288, 56%, 52%);
$color-primary-dark: hsl(292, 42%, 14%);
$color-black: hsl(0, 0%, 0%);
$color-grey: hsl(210, 7%, 56%);
$color-grey-light: hsl(210, 16%, 93%);

//Fonts
$paragraph-font-size: 1.6rem;
$h1-font-size: 5.5rem;
$font-weight-light: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;
